@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  display: flex;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  justify-content: center;
  align-items: center;
  background: #833ab4;
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
}
.card {
  height: 655px;
  width: 400px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 2px 5px 8px;
  transition: all ease-in 0.5ms;
}
.story-sec {
  white-space: nowrap;
  width: 100%;
  height: 120px;
  border-bottom: 0.5px solid gray;

  padding: 5px;
  overflow-x: scroll;
  overflow-y: hidden;
}
.story-sec::-webkit-scrollbar {
  display: none;
}

.story {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 3px solid rgb(255, 4, 4);
  margin: 5px;
  display: inline-block;
  box-shadow: 3px 3px 10px;
  overflow: hidden;
  cursor: pointer;
}
.story img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.fullscrn {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  display: none;
  transition: all ease-in 0.5s;
  cursor: pointer;
}

.post-sec {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  height: 100%;
  align-items: center;
  overflow-y: scroll;
}
.post-sec::-webkit-scrollbar {
  display: none;
}
.posts {
  width: 380px;
  height: 450px;
  margin-top: 10px;
  background: #8e2de2;
  background: -webkit-linear-gradient(to right, #4a00e0, #8e2de2);
  background: linear-gradient(to right, #4a00e0, #8e2de2);

  border-radius: 5px;
  box-shadow: 2px 2px 5px;
}

.posts img {
  width: 100%;
  height: 90%;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
}
.posts i {
  margin-left: 5px;
  font-size: 28px;
  color: #ffffff;
  transition: all ease 0.5s;
}
#imglove {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0.5;
  transition: all ease 0.5s;
}

input {
  width: 95%;
  height: 35px;
  border: 3px solid rgb(5, 72, 172);
  border-radius: 30px;
  box-shadow: 2px 2px 5px;
  margin-top: 2px;
}

span {
  margin: 1px;
  font-weight: bold;
  cursor: pointer;
}

#logo {
  margin-left: 5px;
  cursor: pointer;

}
